:root {
    --logo-scale: 100%; /* Logo büyüklüğünü yüzde olarak burada ayarlayabilirsiniz */
}

.logo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    filter: drop-shadow(0 0 150px rgba(127, 3, 252, 180.8)); 
    user-select: none;
    transform: scale(var(--logo-scale) / 100); /* Yüzde değerini scale transformuyla ayarlayın */
}
