:root {
    --logo-size: 175px; /* Logo boyutunu burada ayarlayabilirsiniz */
    --shadow-color: purple; /* Gölge rengini burada ayarlayabilirsiniz */
    --shadow-size: 150px; /* Gölge boyutunu burada ayarlayabilirsiniz */
}

.logo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    filter: drop-shadow(0 0 var(--shadow-size) var(--shadow-color));
    user-select: none;
    width: var(--logo-size);
    height: var(--logo-size);
}
